.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    background-color: #b7b7b7;
    border: 1px solid black;
    border-radius: 12px;
}
.form div {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-content: center;
    align-items: center;
}
.form input {
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
}
.form button {
    align-self: start;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
}
